<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Администратор</title>

    <script>
        function addUser() {
            let name = document.getElementById("name");
            let login = document.getElementById("login");
            let password = document.getElementById("password");
            let roles = document.getElementById("roles");

            if ((name.value === "")||(login === "")||(password === "")||(roles === "")) {
                alert("Все поля должны быть заполнены!");
                return;
            }

            let err = false;
            const validValues = ['user', 'admin'];
            roles.value.replace(/\s+/g, '').split(',').forEach(e => {
                if(!validValues.includes(e)) {
                    err = true;
                }
            })

            if(err){
                alert("Значениями поля 'Роли' могут быть " + validValues.map(r => "'"+r+"'").join(" или ") + ", разделенные запятыми!");
                return;
            }

            let body = new URLSearchParams();
            body.append("name", name.value);
            body.append("login", login.value);
            body.append("password", password.value);
            body.append("roles", roles.value);

            name.value = "";
            login.value = "";
            password.value = "";
            roles.value = "";

            fetch('api/admin/', {
                method: 'POST',
                body: body,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            });

            location.reload(true);
        }


    </script>
</head>

<body>

<div style="width:700px; margin:0 auto;">
    <h4 style="text-align:center;">Все пользователи</h4>

    <form id="create-form" th:action="@{/user/save}" th:object="${newUser}" th:method="post" accept-charset="utf-8">

        <table style="margin:0 auto;" border="1">
            <thead bgcolor="lightGray">
            <tr height="45">
                <td style="width:75px; text-align:center">Id</td>
                <td style="width:200px; text-align:center">Имя</td>
                <td style="width:100px; text-align:center">Логин</td>
                <td style="width:100px; text-align:center">Пароль</td>
                <td style="width:150px; text-align:center">Роли</td>
            </tr>
            </thead>

            <tbody>
            <tr height="45">
                <td>
<!--        <div>-->
                    <button style="box-sizing: border-box; width:100%; height:40px;" type="submit">Добавить</button>
<!--        </div>-->
                </td>
                <td>
<!--        <div>-->
<!--            <label for="holder-input-name">Name:</label>-->
                    <input style="box-sizing: border-box; width:100%; height:40px;" type="text" id="holder-input-name"
                           name="name" th:value="${newUser.name}" value="John Doe"/>
                </td>
                <td>
<!--            <label for="holder-input-login">Login:</label>-->
                    <input style="box-sizing: border-box; width:100%; height:40px;" type="text" id="holder-input-login"
                           name="login" th:value="${newUser.login}" value="sa"/>
                </td>
                <td>
<!--            <label for="holder-input-password">Password:</label>-->
                    <input style="box-sizing: border-box; width:100%; height:40px;" type="text" id="holder-input-password"
                           name="password" th:value="${newUser.password}" value="sa"/>
                </td>
                <td>
<!--            <label for="holder-input-roles">Roles:</label>-->
                    <input style="box-sizing: border-box; width:100%; height:40px;" type="text" id="holder-input-roles"
                           name="roles" th:value="${newUser.roles}" value="user"/>
<!--        </div>-->
                </td>
            </tr>


            <tr height="45" th:each="user : ${users}">
                <td>
                    <p th:text="${user.id}">1</p>
                </td>
                <td>
                    <p th:text="${user.name}">John Doe</p>
                </td>
                <td>
                    <p th:text="${user.login}">sa</p>
                </td>
                <td>
                    <p th:text="${user.password}">sa</p>
                </td>
                <td>
                    <p th:text="${user.getRolesAsString()}">user</p>
                </td>
            </tr>

            </tbody>
        </table>

    </form>
</div>
</body>
</html>
